<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Raj Jagrup</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
          <div class="col order-frist">
            
          <img src="coverimg.jpg" alt="Cover Image" width="300" height="300"> 
          </div>
          
          
          <div class="col">
            <h1>Raj</h1>
            Ever since I saw a computer when I was around a young age I was compelled by it. Compelled by it because I had a game that I would play on the 
            computer. I was starstruck by how it can play the game when all I had to do was to insert the game disc into the computer.
            From then on this started my passion for technology. 
          </div>
        </div>
      </div>   
  </body>
</html>